@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,500&family=Nanum+Pen+Script&display=swap");

.peer-prep {
  color: #fff;
  padding-top: 18%;
  text-align: center;
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: #4e555d;
  float: left;
  font-family: "Nanum Pen Script";
  font-size: 1.5rem;
  font-weight: 200;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-left: 18.5%;

  .title {
    align-items: left;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0;
    color: #4e555d;
  }

  .content {
    display: flex;
    flex-direction: column;

    .form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .sub-form {
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        input {
          font-family: "Montserrat";
          min-width: 29em;
          height: 45px;
          padding: 0px 20px;
          font-size: 12px;
          letter-spacing: 1px;
          background-color: #e7ebf0;
          border: 0;
          border-radius: 30px;
          margin-top: 10px;
          margin-bottom: 31px;
        }
      }
    }

    .login-button {
      margin-left: auto;
      margin-right: auto;
      input {
        font-weight: 600;
        font-family: "Montserrat";
        font-size: 16px;
        letter-spacing: 1px;
        color: #e7ebf0;
        min-width: 24rem;
        height: 45px;
        padding: 0px 20px;
        background-color: #4e555d;
        border: 0;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 31px;
        cursor: pointer;
      }
    }

    input:focus {
      outline-color: #444a50;
    }
    input:active {
      color: #444a50;
    }
    input:hover {
      background-color: #444a50;
    }
  }
}

.sub-form label {
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 1px;
  color: #4e555d;
  font-weight: 500;
}

.sub-form a {
  font-weight: 600;
}

.sub-form a {
  color: #555d66;
}

.sub-form a:hover {
  color: #383d42;
}
