@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,500&family=Nanum+Pen+Script&display=swap");

.Profile {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 5%;
  .field {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    color: #4e555d;
  }
  table {
    font-weight: 600;
    width: fit-content;

    label {
      background-color: blue;
      border-spacing: 50px;
    }

    input {
      font-family: "Montserrat";
      min-width: 1em;
      height: 45px;
      padding: 0px 20px;
      font-size: 12px;
      letter-spacing: 1px;
      background-color: #e7ebf0;
      border: 0;
      border-radius: 30px;
      margin-top: 10px;
      margin-bottom: 31px;
    }
    input:focus {
      outline-color: #444a50;
    }
    input:active {
      color: #444a50;
    }
  }
  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}

.sub-form label {
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 1px;
  color: #4e555d;
  font-weight: 500;
}
