@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400;1,500&family=Nanum+Pen+Script&display=swap");
.QuestionSection {
    background-color: #E7EBF0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .questionPortion {
        margin: 10%;
        .questionHeader {
            .nextButtonWrapper {
                text-align: end;
                button{
                    font-weight: 600;
                    font-family: "Montserrat";
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #4e555d;
                    min-width: 4rem;
                    height: 45px;
                    padding: 0px 20px;
                    background-color: #E7EBF0;
                    border: 3px rgba($color: #FFFFFF, $alpha: 0.80);
                    border-style: outset;
                    border-radius: 10px;
                    margin-top: 10px;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #f5f5f5;
                }
            }

            .questionTitle {
                font-family: "Montserrat";
                font-weight: 600;
                font-size: 24px;
                color: #4e555d;
            }
        }
        .questionBody {
            margin-top: 10px;
            .questionDescription {
                font-family: "Montserrat";
                font-size: 15px;
                letter-spacing: 1px;
                color: #4e555d;
                font-weight: 600;
            }
        }
    }
}